<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/382e6a8087.js" crossorigin="anonymous"></script>
    <!-- Template Main JS File -->
    <script src="/static/js/main.js"   crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../static/css/style.css" >
  
</head>
 
<body id = "main" >

    <header id="header" class="fixed-top">
        <div >
        
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
                <a class="navbar-brand"  href="/"><i class="fas fa-server"></i>Opioids Abuse Datasets</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
        
                    
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index', _anchor='about') }}">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#apilinks">Datasets Links</a>
                    </li>         
                    

                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>

                </ul>
                
                </div>
            </nav>
        </div>
    </header>
    <main >
     
       <section id="about" class="about">
        <div class="container">
            <p>


            </p>
            <h3>About Us</h3>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 content">
              
               
               
               <a src="/static/img/Opioids Infographic.png"> <img src="/static/img/Opioids Infographic.png"  class="img-large float-left"></a>
               <p>Opioid addiction is a long-lasting (chronic) disease that can cause major health, social, and economic problems. 
                   Opioids are a class of drugs that act in the nervous system to produce feelings of pleasure and pain relief. </p>
               
               <p>
                The purpose of this project was to provide data sets to the users for conducting research, developing web and mobile applications, design data visualizations. <br/>
                This Web-based interactive tool provides users to choose various options for retrieving datasets related to Opioid prescription drug abuses 
                </p>
             
            </div>
            
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
  
     
        <div id="apilinks" class="container">

          <h3>Available APIs</h3>
                  
       
        <div class ="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="jumbotron">
              <p class= "highlight">Here you'll find the links to our many data sets that are currently available via API.<br/>
                We will add more to our publicly available datasets. Watch this space for more updates!!!</p>
                <hr class="my-4">
              <h4>Prescription Vs Opioid Death Statistics</h4>
              <p>
                The dataset shows the geographic distribution in the United States of retail opioid prescriptions dispensed per 100 persons per year compared against the Opiod related deaths. 
                <a href="/DrugPrescriptionDetails"> Click here for the full dataset</a>
              </p>
              <h5>Filter By State</h5>               
              <p>You can filter the dataset for required states. For eg:, if you would like to filter the dataset by Texas, Arkansas, provide the query as state=Tx,Ar .<br/>
                <a href="/DrugPrescriptionDetailsByState/state=Tx"> Click here to filter by state</a></p>

              <h5>Filter By Year</h5>               
              <p>You can filter the dataset for required years. For eg:, if you would like to filter the dataset by 2010, 2011, provide the query as year=2010,2011 .<br/>
                  <a href="/DrugPrescriptionDetailsByYear/year=2010,2011"> Click here to filter by year</a></p>

              <h5>Filter By State and Year</h5>               
              <p>You can filter the dataset for required states and years. For eg:, if you would like to filter the dataset by Texas and Arkansas for the year 2010 and 2011, provide the query as state=Tx,Ar/year=2010,2011 .<br/>
                if you want to get the data for Texas and Arkansas for all the years, query=Tx,Ar/year=all . <br/>
                  <a href="/DrugPrescriptionDetailsByStateAndYear/state=Tx,Ar/year=2010,2011"> Click here to filter by State and year</a></p>

                  <hr class="my-4">

                  <h4>Opiod Drug Abuse statistics </h4>
                  <p>
                    The dataset shows the geographic distribution in the United States of Opiod related death statistics broken down by months. Currently supports Alaska, Alabama, Arkansas. 
                    <a href="/DrugDetails"> Click here for the full dataset</a>
                  </p>

                  <h5>Filter By State and Year</h5>               
                <p>You can filter the dataset for required states and years. For eg:, if you would like to filter the dataset by Alaska and Arkansas for the year 2017 and 2016, provide the query as state=Ak,Ar/year=2017,2016 .<br/>
                  if you want to get the data for Texas and Arkansas for all the years, query=Tx,Ar/year=all . <br/>
                  <a href="/DrugDetailsByStateAndYear/state=AK,AR/year=2017,2016"> Click here to filter by State and year</a></p>

            
                </div>
          </div>
        </div>
        
        

      </div>
    
      
      <section id="contact" class="about">
      
        <div class="container" >
          <p><h3> Contact Us</h3></p>
          <div class="jumbotron">
          <div class="row">
            
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="box">
                  <img src="/static/img/justin.png" class="img-thumbnail"> </img>
                  <p>Justin Chow</p>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="box">
                    <img src="/static/img/GinaAvatar.png" class="img-thumbnail"> </img>
                    <p>Gina Canales</p>
                  </div>
              </div>
    
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="box">
                    <img src="/static/img/radhikaAvatar.jpg" class="img-thumbnail"> </img>
                    <p>Radhika Balasubramaniam</p>
                </div>
              </div>         
            </div>
          </div>
      </div>
      </section> 
  
    </main>
    
</body>

</html>